@color:#242424;
@margin:16.43%;
body{
	font:100%/1.5em;
	width:100%;
}
@font-face {
    font-family: 'Aller';
    src: url(../fonts/Aller_Rg.ttf),url(../fonts/Aller_Rg.eot);
   }
a{
	text-decoration: none;
	color:#acacac;
}
li{
	display: inline-block;
}
/*HEADER*/
header{
	background: @color;
	padding-top:1px;
}
.header-bottom{
	clear:both;
	background:#ffffff;
}
.header-right{
	float:right;
	margin-right:16.43%;
	.login{
		margin-left:35px;
		padding: 10px 15px 4px;
		border-right: 1px solid #383838;
		border-left: 1px solid #383838;
		height: 30px;
	}
	a{
		font-family: 'Aller';
		font-size: 11px;
	}
}
.search{
	float:left;
	margin-top:13px;
	input{
		display:none;
	}
}
.logo{
	margin:0.75% 0 0.75% 16.43%;
	width:13.5%;
	img{
		width:100%;
	}
}
nav,.rate,.cart{
	display: inline-block;
	vertical-align: top;
	height:60px;
}
nav{
	margin-left: 16.43%;
	width:39.6%;
}
.top-menu{
	border-left:1px solid #eeeeee;
}
.top-menu li{
	padding:4.4% 3.2%;
	border-right: 1px solid #eeeeee;
	a{
		color:@color;
		font-family: 'Aller';
		font-size: 1em;	
	}
}
.rate{
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	margin-left:14.2%;//108px;
	width:6.4%;
	box-sizing: border-box;
}
.rate img{
	padding:20px 44px 20px 20px;
}
.cart {
	border-right: 1px solid #cccccc;
	width:6.35%;
	box-sizing: border-box;
	img{
		padding:21px 44px 21px 18px;
	}
}
/*CONTENT*/
.top img{
	width:100%;
}
.specials{
	background: @color;
	ul{
		background:#2e2e2e url(../img/menu_top_line.png) no-repeat 50% 5px;
		background-size: 68.6%; 
		margin-bottom:1.8%;
		text-align:center;
		li{
			text-align: center;
			margin-right:0.4%;
			margin-top:6px;
			width:12.86%;
			padding:25px 0;
		}
	}
}
.specials li:first-child{
	margin-left: .4%;
}
.specials a{
	color:#787878;
	font-family: 'Aller';
	font-size:0.75em;
	h3{
		color:#acacac;
		font-size:1.5em;
	}
}
.specials-bottom{
	text-align: center;
	padding-bottom:1.43%;
	a{
		margin:0.72%;
		img{
			width:21.4%;
		}
	}
}
/*MAIN*/
.main{
	background: #ebe7df;
}
.main-content{
	width:67%;
	margin:0 auto;
	img{
		width:32%;
	}
}
.main-bottom{
	border-bottom:1px solid #bcb5a7;
}
.text{
	width:23%;
	height:120px;
	overflow:hidden;
	background: #dfdbd4;
	display: inline-block;
	vertical-align: top;
	padding:1.6%;//15px;
	margin:2.6% 1.7% 2.6% 0;
	font-family: 'Aller';
	h2{
		font-size:1em;
		margin-bottom: 2%;
	}
	p{
		font-size:0.75em;
		line-height: 1.4em;
	}
}
.blog-news{
	background: #dfdbd4;
	display: inline-block;
	padding:1.6%;//15px;
	margin-top:2.6%;
	width:39%;
	height:120px;
	overflow:hidden;
	font-family: 'Aller';
	h2{
		font-size:1em;
		margin-bottom: 2%;
	}
	section{
		background: url(../img/blog-date.png) no-repeat 0 5px;
		padding-left:45px;
		padding-bottom: 5px;
		line-height:0.7em;
		margin:2% 0 4% 0;
		line-height: 1.5em;
		h3{
			font-size:0.85em;
		}
		p{
			font-size:0.75em;
			line-height: 1em;
		}
	}
}